<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    
    <add key="menufile" value="Z:\cpas_ctl_common\commandMenu.xml"/>
    <!--<add key="menufileC" value="Z:\cpas_ctl_hpc2\commandMenu.xml" />-->

    
    <add key="controllerFolder" value="Z:\cpas_ctl_common\"/>
    <!--<add key="controllerFolderC" value="Z:\cpas_ctl_hpc2\" />-->

    <add key="clusters" value="192.168.0.210:B;192.168.0.11:C"/>


    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
